@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 768px) {
  .part-2 {
    background-image: url("../public/mobileBanner.jpeg");
    /* width: 100%; */
    background-size: contain;
    /* height: 55rem; */
    background-repeat: no-repeat;
    background-position-x: right;
  }
}

@media only screen and (min-width: 768px) {
  .part-2 {
    background-image: url("../public/bannerImage.jpg");
    /* width: 100vw; */
    background-size: cover;
    /* height: 35rem; */
    background-repeat: no-repeat;
  }
}

.main-Header {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

html {
  scroll-behavior: smooth;
}
